@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&family=Roboto:wght@300&display=swap");
@media (min-width: 320px) {
  footer img {
    width: 30px;
  }
}
@media (min-width: 600px) {
  footer img {
    width: 55px;
  }
}
@media (min-width: 1200px) {
  footer img {
    width: 75px;
  }
}

@media (min-width: 320px) {
  .contacto {
    width: 50%;
  }
}
@media (min-width: 600px) {
  .contacto {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .contacto {
    width: 100%;
  }
}

@media (min-width: 320px) {
  #portada {
    height: 700px;
  }
}
@media (min-width: 600px) {
  #portada {
    height: 700px;
  }
}
@media (min-width: 1200px) {
  #portada {
    height: auto;
  }
}

#principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
}

#bienvenida {
  padding: 50px;
}

/*main{
    text-align: center;
    background-color: $maincolor;
    color: $letras;
}
img{
    width: 100%;
}
h2{
    padding: 5px;
}
.aerobic{
    width: 50%;
    display: flex;
}*/
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 500px;
  padding: 20px;
  grid-gap: 10px;
}

.gallery-item {
  position: relative;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0));
  width: 100%;
  margin: 0;
}

.gallery-item:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 1.5;
}

@media (min-width: 320px) {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media (min-width: 600px) {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media (min-width: 1200px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 500px;
    padding: 20px;
    grid-gap: 10px;
  }
}

@media (min-width: 320px) {
  .gallery-item:nth-child(1) {
    grid-column-start: span 3;
    grid-row-start: span 1;
  }
}
@media (min-width: 600px) {
  .gallery-item:nth-child(1) {
    grid-column-start: span 3;
    grid-row-start: span 1;
  }
}
@media (min-width: 1200px) {
  .gallery-item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 1.5;
  }
}

@media (min-width: 320px) {
  .gallery-item:nth-child(2) {
    grid-column-start: span 3;
    grid-row-start: span 1;
  }
}
@media (min-width: 600px) {
  .gallery-item:nth-child(2) {
    grid-column-start: span 3;
    grid-row-start: span 1;
  }
}
@media (min-width: 1200px) {
  .gallery-item:nth-child(2) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
}

@media (min-width: 320px) {
  .gallery-item:nth-child(3) {
    grid-column-start: span 3;
    grid-row-start: span 1;
  }
}
@media (min-width: 600px) {
  .gallery-item:nth-child(3) {
    grid-column-start: span 3;
    grid-row-start: span 1;
  }
}
@media (min-width: 1200px) {
  .gallery-item:nth-child(3) {
    grid-column-start: span 1;
    grid-row-start: span 1;
  }
}

body {
  background-color: black;
}

@media (min-width: 320px) {
  .contacto {
    width: 325px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    color: white;
  }
}
@media (min-width: 1200px) {
  .contacto {
    width: 450px;
  }
}
.contacto h2 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
.contacto input, .contacto textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
}
.contacto #enviar {
  background-color: white;
  color: black;
}

main {
  text-align: center;
  background-color: black;
  color: white;
}

.promociones ul {
  list-style: none;
}
.promociones li {
  font-size: 30px;
  padding: 15px;
  margin: 10px;
}

#promo {
  text-align: center;
  padding: 110px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  background-color: black;
  color: white;
}

th {
  background: red;
  color: white;
  font-weight: bold;
}

td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

#horarios {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
