body{
    background-color: $maincolor;
}
.contacto{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    color: $letras;
    h2{
        
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }
        input, textarea{
            width: 100%;
            margin-bottom: 20px;
            padding: 7px;
        }
            #enviar{
                background-color: $letras;
                color: $maincolor;
            }
}