.contacto{
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    h2{
        
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }
}