main{
    text-align: center;
    background-color: $maincolor;
    color: $letras;
}
img{
    width: 100%;
}
h2{
    padding: 5px;
}
.aerobic{
    width: 50%;
    display: flex;
}

#horario{
    height: 800px;
}