table{
    width: 100%;
    border-collapse: collapse;
}

td{
    background-color: black;
    color: white;
}
th { 
    background: red; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}
#horarios{
    text-align: center;
}

