.promociones{

    ul{
        list-style: none;
    }   
        li{
            font-size: 30px;
            padding: 15px;
            margin: 10px;
        }
}
#promo{
    text-align: center;
    padding: 110px;
}
