.promociones{

    ul{
        list-style: none;
    }   
        li{
            font-size: 30px;
            padding: 15px;
            margin: 10px;
        }
}
h2{
    padding: 110px;
}
